.exchange-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.exchange-result {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    margin: 20px;
}

.exchange-from,
.equql,
.exchange-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.exchange-from,
.equal {
    display: flex;
    align-items: center;
    color: #8d8d8d;
    font-size: 3rem;
}

.exchange-to {
    color: #94C720;
    font-weight: bold;
}

.exchange-rates .exchange {
    color: #8d8d8d;
    font-size: 1rem;
    margin-bottom: 8px;
}